*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  height: 100vh;
  padding: 20px 20px;
  font-family: 'Inter', sans-serif;
}

.header{
text-align: center;
margin-bottom: 20px;

}
.slack{
  display: none;
}
.header .input_container{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 30px auto;
  position: relative;
 
}
.share{
  width: 30px;
}
.share_container{
  display: flex;
  justify-content: flex-end;
}

 .profile{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  fill: #fff;
}

.header .input{
 display: none; 
} 
.info{
  width: 80px;
  height: 30px;
  border-radius: 8px;
  margin-right: 8px;
  background-color: black;
  color: white;
  font-size: 12px;
  position: relative;
  padding-top: 7px;
}
.info::before{
  content: '';
  position: absolute;
  width: 0 ;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid black;
  right: -7px;
  top: 5px;
}
.backdrop{
  width: 100%;
  background-color: rgba(52, 64, 84, 0.75);
  height: 100%;
  position: absolute;
left: 50%;
top: 0;
border-radius: 50%;
transform: translateX(-50%);
opacity: 0;
}
.backdrop:hover{
  opacity: 1;
}
.upload_image{
margin-top: 55px;

} 
.link_buttons{
  display: block;
  text-align: center;
  width:100%;
  height:60px;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  background-color: rgba(208, 213, 221, 1);
  color: rgba(16, 24, 40, 1);
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 2px;
  font-weight: 600; 
  cursor: pointer;

}
.link_buttons sub{
  font-weight: normal;
}
.link_buttons:hover{
 text-decoration: underline;
} 
.link_buttons sub:hover{
  text-decoration: none;
}

.icons{
  text-align: center;
  margin-top: 30px;
  cursor: pointer;

}
.slack_icon{
  margin-right: 10px;
}
.footer{
  border-top: 1px solid #EAECF0;
  margin-top: 20px;
  padding-top: 20px;
}
.footer img{
  width: 90px;
  margin: 10px 0;
}
.footer p{
  color: rgba(102, 112, 133, 1);
  font-size: 14px;
}
@media (min-width:768px) {
  body{
    padding: 30px 80px;
  }
  .share_container{
    display: flex;
    justify-content: center;
    margin-left: 30rem;
  }
  .footer{
display: flex;
justify-content: space-between;
  }
  .footer img{
 
    margin: 0;
  }
  .header .input_container{
    width: 110px;
    height: 110px;
}
.profile{
  width: 110px;
  height: 110px;

}
.upload_image{
  margin-top: 65px;
  
  } 
  .link_buttons{
    height:60px;
   
  
  
  }
}
